header {
  padding: 25px;
  margin-bottom: 25px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
header h1 {
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px pink;
}
header h1 a,
nav a {
  color: white;
  text-decoration: none;
}
hr {
  margin: 20px;
  height: 5px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}
.user-name {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
}

nav a {
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
}

header h1 a:hover {
  color: black;
}

nav a:hover {
  background-color: rgb(247, 232, 247);
  color: black;
}
